body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.text-center {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

.checkbox-container {
  display: flex;
  padding: 5px 3px;
}

.inner-box {
  border: solid;
  border-width: 0.5px;
  padding: 10px;
  margin-bottom: 5px;
}

.d-flex {
  display: flex;
}

.mr-10 {
  margin-right: 10px;
}

.btn-selected {
  background-color: #5d5d5d !important;
}

.btn-selected:hover {
  background-color: #c4c4c4 !important;
}
